-
	var navLinks = [
		{
			url: '/',
			title: 'Наши услуги'
		},
		{
			url: '/',
			title: 'Evita Classic'
		},
		{
			url: '/',
			title: 'Интернет-магазин'
		},
		{
			url: '/',
			title: 'Контакты'
		},
	]

-
	var menuLinks = [
		{
			url: '/',
			title: 'Услуги'
		},
		{
			url: '/',
			title: 'Акции'
		},
		{
			url: '/',
			title: 'Новости'
		},
		{
			url: '/',
			title: 'Об Evita Studio'
		},
		{
			url: '/',
			title: 'Интернет-магазин'
		},
		{
			url: '/',
			title: 'Evita Classic'
		},
		{
			url: '/',
			title: 'Контакты'
		},
	]

-
	var services = [
		{
			url: '/',
			title: 'Волосы & Цвет'
		},
		{
			url: '/',
			title: 'Макияж & Брови'
		},
		{
			url: '/',
			title: 'СПА & Массаж'
		},
		{
			url: '/',
			title: 'Маникюр & Педикюр'
		},
		{
			url: '/',
			title: 'Эпиляция'
		},
		{
			url: '/',
			title: 'Косметология & Уход'
		}
	]

-
	var categoryItems = [
		{
			url: 'images/category-img-1.jpg',
			title: "Волосы & Цвет",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-2.jpg',
			title: "Макияж & Брови",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-3.jpg',
			title: "СПА & Массаж",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-4.jpg',
			title: "Маникюр & Педикюр",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-5.jpg',
			title: "Эпиляция",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-6.jpg',
			title: "Косметология & Уход",
			subtitle: "Перейти к услугам"
		}
	]
