- 
	var categoryItems = 
	[
		{
			url: 'images/category-img-1.jpg',
			title: "Волосы & Цвет",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-2.jpg',
			title: "Макияж & Брови",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-3.jpg',
			title: "СПА & Массаж",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-4.jpg',
			title: "Маникюр & Педикюр",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-5.jpg',
			title: "Эпиляция",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-6.jpg',
			title: "Косметология & Уход",
			subtitle: "Перейти к услугам"
		}
	]