//- mixin b-headline(label, title, subtitle, align, titleColor, subtitleColor)

mixin b-headline(paramsObj)
	+b.headline(class=paramsObj.headlineClasses)
		+e.label-title(class=paramsObj.labelClasses)= paramsObj.label
		+e("h2").title(class=paramsObj.titleClasses)= paramsObj.title
		+e.subtitle(class=paramsObj.subtitleClasses)= paramsObj.subtitle

