mixin b-headline(label, title, subtitle, align, titleColor, subtitleColor)
	
	+b.headline(class= align)
		+e.label-title= label
		+e("h2").title(class= titleColor)= title
		+e.subtitle(class= subtitleColor)= subtitle

