//- mixin b-headline(label, title, subtitle, align, titleColor, subtitleColor)

mixin b-headline(paramsObj)
	+b.headline
		+e.label-title= paramsObj.label
		+e("h2").title= paramsObj.title
		+e.subtitle= paramsObj.subtitle

