.headline
	
	&__label-title
	&__title
		font-family 'Playfair Display', "Times New Roman", Georgia, serif
		font-weight 400
		line-height normal
		text-align center
	
	&__label-title
		position relative
		color: #b19870
		font-size 22px
		font-style: italic
		&::before
			content: "—"
			margin-right .5em
			
	&__title
		margin-bottom .15em
		font-size 65px
		
	&__subtitle
		font-family 'FuturaPT-Book', Helvetica, Arial, sans-serif
		color #767676
		line-height normal
		text-align center