.headline
	text-align center
	line-height normal
	
	&__label-title
	&__title
		font-family 'Playfair Display', "Times New Roman", Georgia, serif
		font-weight 400
	
	&__label-title
		position relative
		color: #b19870
		font-size 20px
		font-style: italic
		&::before
			content: "—"
			margin-right .5em
			
	&__title
		margin-bottom .15em
		font-size 52px
		
	&__subtitle
		font-family 'FuturaPT-Book', Helvetica, Arial, sans-serif
		color #767676
		font-size 18px
		
	// modifiers
	&_align-left
		text-align left
		
	&_align-right
		text-align right
		
	&_align-center
		text-align center
		
	&__title_white
	&__subtitle_white
		color #fff
		
	&__subtitle_grey
		color: #767676