mixin b-feedback-form-wrap()
	.feedback-form-wrap
		+b-headline({
			label: "Форма обратной связи",
			title: "Остались вопросы?",
			subtitle: "Мы заботимся о красоте наших клиентов и передаем знания",
			titleClasses: "_color-white"
		})

		+b-feedback-form()
			