.btn-main
	display inline-block
	width 230px
	padding 2em 1.5em
	border-radius 0
	border 1px solid mainColor
	background-color mainColor
	vertical-align middle
	color #fff
	font-family 'FuturaPT-Bold', Helvetica, Arial, sans-serif
	font-size 11px
	letter-spacing 1.1px
	text-transform uppercase
	transition background-color .2s ease-in-out, 
	border-color .2s ease-in-out,
	color .2s ease-in-out
	
	&:hover
		background-color mainColorHover
		border-color mainColorHover
		color #fff
		
	&:focus 
		box-shadow none