.categories-wrap
	margin-bottom 4%

	.container
		@media all and (max-width: xlWidth - 1)
			padding 0 10px
			

.categories
	display flex
	flex-wrap wrap

	&__item
		width 30%
		margin-right 5%
		margin-bottom 5%
		
		&:nth-of-type(3n + 3)
			margin-right 0
			
		@media all and (max-width: lgWidth - 1)
			width 47.5%
			
			&:nth-of-type(odd)
				margin-right 5%
				
			&:nth-of-type(even)
				margin-right 0
			
		@media all and (max-width: smWidth - 1)
			width 100%
			
			&:nth-of-type(odd)
				margin-right 0