mixin b-nav(links, activeIndex)
	a.nav__link.nav__link_trigger Узнать больше
	+b('nav').nav
		each link, index in links
			- var classes = ''
			if index == activeIndex
				- classes = 'active'
			+e('a').link(href=link.url class=classes)= link.title