.nav
	display flex
	justify-content center
	&__link
		padding 27px
		color black
		border-left 1px solid mercury
		text-align center
		min-width 165px
		height 64px
		line-height 1
		@media xxl
			min-width 201px
		&:hover
			color lighten(black, 30%)
		&:last-of-type
			border-right 1px solid mercury