.best-masters
	display flex
	flex-wrap wrap
	margin: 5% 0
	padding: 6%
	border 1px solid mercury
	background-color white
	
	&__col
		flex 0 1 33.33%
		padding 0 5%
		
	&__title
		margin-bottom 1em
		color black
		font-family futura-demi
		font-size 28px
		line-height normal
		
	&__seo-block
		color black
		font-family futura-demi
		font-size 18px
		
	&__text
		color dove-gray
		font-family futura
		font-weight 600

	&__paragraph
		margin-bottom 1.5em
		line-height normal
		
	
