.advantage
	background-color mine
	padding 50px 65px 60px
	font-family futura
	&__img-wrap
		margin-bottom 35px
	&__title
		margin-bottom 30px
		font-weight 700
		font-size 21px
		color white
	&__text
		font-weight 400
		font-size 21px
		color dusty-gray