.category
	position relative
	display block
	
	&__img-wrap
		@media all and (max-width: smWidth - 1)
			text-align center
	
	&__img
		display inline-block
		max-width 100%
		height auto
		vertical-align top
		
		@media all and (max-width: smWidth - 1)
			width 100%

	&__content
		position absolute
		right 0
		bottom -30px
		padding 1.5em 2.5em
		background-color white
		transition bottom .4s ease-out

		^[0]:hover &
			bottom 0
			
		@media all and (max-width: xxlWidth - 1)
			bottom -20px
			padding 1em 2em
			
		@media all and (max-width: xxlWidth - 1)
			padding 1em 1.5em

		
	&__title
		display block
		color black
		font-size 26px
		font-family futura-heavy
		
		@media all and (max-width: xxlWidth - 1)
			font-size 22px
			
		@media all and (max-width: mdWidth - 1)
			font-size 18px
		
	&__subtitle
		position relative
		display block
		color mainColor
		font-size 11px
		opacity 0
		font-family futura-bold
		text-transform uppercase
		letter-spacing 1.1px
		transition  opacity .6s
		
		^[0]:hover &
			opacity 1
			
		@media all and (max-width: xxlWidth - 1)
			font-size 9px
		
		&:after
			content ""
			position absolute
			top 50%
			transform translate(0, -50%)
			width 20px
			height 1px
			margin-left 1em
			background-color mainColor
			
		