-
  var brandsImages = [
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-1.png',
      url: '#'
    },
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-2.png',
      url: '#'
    },
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-3.png',
      url: '#'
    },
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-4.png',
      url: '#'
    },
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-5.png',
      url: '#'
    },
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-6.png',
      url: '#'
    },
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-7.png',
      url: '#'
    },
    {
      title: '',
      img: '/assets/images/brands-of-goods/brand-8.png',
      url: '#'
    }
  ]