-
	var navLinks = [
		{
			url: '/',
			title: 'Наши услуги'
		},
		{
			url: '/category.html',
			title: 'Evita Classic'
		},
		{
			url: '/service.html',
			title: 'Интернет-магазин'
		},
		{
			url: '/',
			title: 'Контакты'
		},
	]

-
	var menuLinks = [
		{
			url: '/service.html',
			title: 'Услуги'
		},
		{
			url: '/',
			title: 'Акции'
		},
		{
			url: '/',
			title: 'Новости'
		},
		{
			url: '/category.html',
			title: 'Об Evita Studio'
		},
		{
			url: '/',
			title: 'Интернет-магазин'
		},
		{
			url: '/category.html',
			title: 'Evita Classic'
		},
		{
			url: '/',
			title: 'Контакты'
		},
	]

-
	var services = [
		{
			url: '/service.html',
			title: 'Волосы & Цвет'
		},
		{
			url: '/',
			title: 'Макияж & Брови'
		},
		{
			url: '/',
			title: 'СПА & Массаж'
		},
		{
			url: '/',
			title: 'Маникюр & Педикюр'
		},
		{
			url: '/',
			title: 'Эпиляция'
		},
		{
			url: '/',
			title: 'Косметология & Уход'
		}
	]

-
	var categoryItems = [
		{
			url: 'images/category-img-1.jpg',
			title: "Волосы & Цвет",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-2.jpg',
			title: "Макияж & Брови",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-3.jpg',
			title: "СПА & Массаж",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-4.jpg',
			title: "Маникюр & Педикюр",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-5.jpg',
			title: "Эпиляция",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/category-img-6.jpg',
			title: "Косметология & Уход",
			subtitle: "Перейти к услугам"
		}
	]

-
	var blogItems = [
		{
			url: 'images/blog/left.png',
			title: "Блог сайта",
			subtitle: "Перейти к услугам"
		},

		{
			url: 'images/blog/right.png',
			title: "Наши  видео",
			subtitle: "Перейти к услугам"
		}
-
	var salons = [
		{
			url: '/',
			title: 'Evita Studio Речной'
		},
		{
			url: '/',
			title: 'Evita Studio Ходынка'
		},
		{
			url: '/',
			title: 'Evita Classic'
		}
	]

-
	var legalLinks = [
		{
			url: '/',
			title: 'Политика конфиденциальности '
		},
		{
			url: '/',
			title: 'Отказ от ответственности'
		},
		{
			url: '/',
			title: 'Согласие с рассылкой'
		},
		{
			url: '/',
			title: 'Пользовательское соглашение'
		}
	]

-
	var paymentMethods = [
		{
			src: 'images/payment-methods/visa.png',
			alt: 'visa'
		},
		{
			src: 'images/payment-methods/android-pay.png',
			alt: 'android-pay'
		},
		{
			src: 'images/payment-methods/apple-pay.png',
			alt: 'apple-pay'
		},
		{
			src: 'images/payment-methods/mastercard.png',
			alt: 'mastercard'
		},
		{
			src: 'images/payment-methods/mir.png',
			alt: 'mir'
		},
		{
			src: 'images/payment-methods/samsung-pay.png',
			alt: 'samsung-pay'
		},
		{
			src: 'images/payment-methods/union-pay.png',
			alt: 'union-pay'
		}
	]

-
	var advantages = [
		{
			src: 'images/hair-cut.png',
			title: "Первоклассные мастера",
			text: "с лучшим образованием в индустрии красоты и большим опытом работы"
		},
		{
			src: 'images/hair-cut.png',
			title: "Первоклассные мастера",
			text: "с лучшим образованием в индустрии красоты и большим опытом работы"
		},
		{
			src: 'images/hair-cut.png',
			title: "Первоклассные мастера",
			text: "с лучшим образованием в индустрии красоты и большим опытом работы"
		},
		{
			src: 'images/hair-cut.png',
			title: "Первоклассные мастера",
			text: "с лучшим образованием в индустрии красоты и большим опытом работы"
		}
	]
