-
  var hairServices = [
    {
      title: 'Стрижки',
      serviceProps: [
        {
          name: 'Стрижка мужская',
          time: '45 минут',
          price: '2000 грн'

        },
        {
          name: 'Стрижка коллекционерская',
          time: '35 минут',
          price: '2500 грн'

        },
        {
          name: 'Стрижка усов, бороды',
          time: '40 минут',
          price: '2700 грн'

        },
        {
          name: 'Стрижка детская (до 10 лет)',
          time: '25 минут',
          price: '1500 грн'

        },
        {
          name: 'Коррекция челки',
          time: '20 минут',
          price: '1000 грн'

        }
      ]
    },
    {
      title: 'Укладки',
      serviceProps: [
        {
          name: 'Укладка мужская',
          time: '45 минут',
          price: '2000 грн'

        },
        {
          name: 'Укладка коллекционерская',
          time: '35 минут',
          price: '2500 грн'

        },
        {
          name: 'Укладка усов, бороды',
          time: '40 минут',
          price: '2700 грн'

        },
        {
          name: 'Укладка детская (до 10 лет)',
          time: '25 минут',
          price: '1500 грн'

        },
        {
          name: 'Коррекция челки',
          time: '20 минут',
          price: '1000 грн'
        }
      ]
    },
    {
      title: 'Окрашивание',
      serviceProps: [
        {
          name: 'Окрашивание мужское',
          time: '45 минут',
          price: '2000 грн'
        },
        {
          name: 'Окрашивание коллекционерское',
          time: '35 минут',
          price: '2500 грн'
        },
        {
          name: 'Окрашивание усов, бороды',
          time: '40 минут',
          price: '2700 грн'

        },
        {
          name: 'Окрашивание детское (до 10 лет)',
          time: '25 минут',
          price: '1500 грн'

        },
        {
          name: 'Окрашивание челки',
          time: '20 минут',
          price: '1000 грн'
        }
      ]
    },
    {
      title: 'Окрашивание Kudra Nature ',
      serviceProps: [
          {
            name: 'Окрашивание мужское',
            time: '145 минут',
            price: '12000 грн'
          },
          {
            name: 'Окрашивание коллекционерское',
            time: '135 минут',
            price: '12500 грн'
          },
          {
            name: 'Окрашивание усов, бороды',
            time: '140 минут',
            price: '12700 грн'

          },
          {
            name: 'Окрашивание детское (до 10 лет)',
            time: '125 минут',
            price: '11500 грн'

          },
          {
            name: 'Окрашивание челки',
            time: '120 минут',
            price: '11000 грн'
          }
      ]
    },
    {
      title: 'Уход за волосами',
      serviceProps: [
        {
          name: 'Уход за волосами мужское',
          time: '15 минут',
          price: '1200 грн'
        },
        {
          name: 'Уход за волосамиколлекционерское',
          time: '15 минут',
          price: '500 грн'
        },
        {
          name: 'Уход за волосами усов, бороды',
          time: '10 минут',
          price: '700 грн'
        }
      ]
    }
  ]