
.brands-of-goods
  display flex
  flex-direction column
  width 100%
  *
    box-sizing border-box
  &__row
    width 1070px
    margin 0 auto
    display flex
    flex-wrap wrap
    padding 90px 15px
    justify-content center
  &__item
    display flex
    align-items center
    justify-content center
    padding 15px
    flex: 0 0 25%