
mixin item-block (img, title, url)
  +e(a).item(href= url)
    +e('img').img(src= img, title= title)
mixin brands-of-goods()
  +b('section').brands-of-goods
    +b-headline('Бренды  c которыми работаем', 'Бренды товаров', 'Мы заботимся о красоте наших клиентов и передаем знания')
    +e.row
      each brand in brandsImages
        +item-block(brand.img, brand.title, brand.url)
