mixin b-all-blocks-presentation()
	.blocks-presentation
		div(style="margin-bottom: 2em")
			+b-headline("Специальные предложения", "Специальные предложения", "Мы заботимся о красоте наших клиентов и передаем знания многим желающим")

		div(style="margin-bottom: 2em")
			+b-headline("Специальные предложения", "Специальные предложения", "Мы заботимся о красоте наших клиентов и передаем знания многим желающим", "headline_l-align")

		div(style={"margin-bottom": "2em", "background-color": "#222"})
			+b-headline("Специальные предложения", "Специальные предложения", "Мы заботимся о красоте наших клиентов и передаем знания многим желающим", "", "headline__title_white", "headline__subtitle_white")
		
		div(style={"margin-bottom": "2em", "background-color": "#222"})
			+b-headline("Специальные предложения", "Специальные предложения", "Мы заботимся о красоте наших клиентов и передаем знания многим желающим", "", "headline__title_white", "headline__subtitle_grey")

	
		+b-category("images/category-img-1.jpg", "Волосы & Цвет", "Перейти к услугам")