mixin oursalons()
	+b.oursalons
		+e.container
			+e.menu
				+e.wrapper
					+e.select EVITA STUDIO ХОДЫНКА
					+e.item EVITA CLASSIC
					+e.item EVITA STUDIO РЕчной
			+e.pic
				+e.topinfo
					+e.main
					+e.navi
					+e.bullets