.oursalons
	&__slider
		position relative
		width 800px
		margin 0 auto
		
	&__menu
		margin 0 auto
		font-size 10px
		background-color #f4f4f4 
		width 500px

	&__wrapper
		position relative
		display flex
		flex-direction row
		justify-content center
		padding 22px 0 25px 0

	&__item1
	&__item2
	&__item3
		
		font-family 'FuturaPT-Demi'
		text-align center
		text-transform uppercase
		letter-spacing 1px
		margin-right 20px
		margin-left 20px
		color #a4a4a4

	&__select
		font-family 'FuturaPT-Demi'
		text-align center
		text-transform uppercase
		letter-spacing 1px
		margin-right 20px
		margin-left 20px
		color black
		
	&__topinfo
		position absolute
		z-index 1
		width 220px
		height 321px
		right 0px
		bottom 0px
		
	&__main
		position absolute
		background-color white
		right 0
		bottom 0
		width 270px
		height 300px
		padding-top 25px
		padding-left 30px
		
	&__titlem
		font-family 'FuturaPT-Demi'
		
	&__titlel
		font-family 'FuturaPT-Book'
		font-size 17px
		margin-top 5px

	&__def
		color black
		font-size 9px
		font-weight bold
		text-transform uppercase
		padding 20px
		border 1px solid #b19870
		margin-top 20px

	&__navi
		position absolute
		background-color white
		left 0
		bottom 0
		width 150px
		height 60px
		z-index 2
		
	&__hline
		position absolute
		left 68px
		top 18px
		width 1px
		height 24px
		background-color #e3e3e3

	&__bullets
		background-color #f4f4f4 
		width 500px
		height 70px
		margin 0px auto
		padding 26px 0 0 40px

	&__pic
		top 75px
		background-image url("images/gallery-1.png")
		background-size cover
		width 800px
		height 428px
		margin 0 auto

	&__myslick
		position absolute
		width 800px
		margin 0 auto
		
	&__line
		display flex
		flex-direction: row
		width 200px
		height 30px
	
	&__leftnum
	&__rightnum
		font-family 'FuturaPT-Demi'
		font-size 12px
		color #767676

	&__lines
		position absolute
		width 31px
		height 1px
		background-color #b19870
		z-index 5
		margin-top 9px
		margin-left 0px

	&__lineb
		position absolute
		width 87px
		height 1px
		background-color #cccccc
		z-index 4
		margin-top 9px

	&__wra
		width 100px
		padding-left 5px
		
.slick-next.slick-arrow
	cursor pointer
	position absolute
	background-image url('images/right-a.png')
	opacity 0.6
	border none
	width 23px
	height 9px
	bottom 25px
	left 90px
	z-index 3
	&:hover
		opacity 1
	
.slick-prev.slick-arrow
	cursor pointer
	position absolute
	background-image url('images/left-a.png')
	opacity 0.6
	border none
	width 23px
	height 9px
	bottom 25px
	left 25px
	z-index 3
	&:hover
		opacity 1


.slick-active
	color black


.custom-dots
	font-family 'FuturaPT-Demi'
	position absolute
	text-transform uppercase
	justify-content space-around
	top -32px
	left 164px
	display flex
	font-size 11px
	color #a4a4a4
	width 59%