mixin oursalons()
	+b.oursalons
		+e.container
			+e.menu
				+e.wrapper
					+e.select EVITA STUDIO ХОДЫНКА
					+e.item EVITA CLASSIC
					+e.item EVITA STUDIO РЕчной
			+e.pic
				+e.topinfo
					+e.main
						+e.titlem Evita Premium Ходынка
						+e.titlel ул.Петрозаводская  22, к.1<br />Пн-Вс с 10:00 до 22:00<br />+7 (495) 787-00-57<br />info@evitastudio.ru

						+e('button').def Подробнее о салоне 

					+e.navi
			+e.bullets
				+e.arrow 
				+e.arrow 