mixin b-blog(items)
	.container
		+b.blockl
			+e.left
				+e.titleb Блог сайта
				+e.titles СМОТРЕТЬ ВИДЕО
			+e.block1

		+b.blockr
			+e.right
				+e.titleb Наши видео
				+e.titles СМОТРЕТЬ ВИДЕО
			+e.block2
