mixin b-blog(items)
	.container
		+b-headline({
			label: 'Наш блог',
			title: 'Пишем и снимаем видео',
			subtitle: 'Мы заботимся о красоте наших клиентов и передаем знания многим желающим'
		})

		+b.blog
			+e.list
				each item, i in items
					- var classes = 'odd'
					if (i % 2)
						- classes = 'even'
					+e.item
						+b-category(item.url, item.title, item.subtitle, classes)