.container
	display flex
	justify-content space-between

.blockl
	display flex
	justify-content center
	flex-direction column
	position relative
	
	&__left
		left 0px
		bottom 0px
		width 170px
		height 70px
		padding-left 20px
		padding-top 8px
		background-color white
		position absolute
	
	&__block1
		background-image url('images/blog1.png')
		background-size cover
		width 460px
		height 250px
		
		
	&__titleb
		font-size 22px
		font-family 'FuturaPT-Bold'
		
	&__titles
		font-family 'FuturaPT-demi'
		font-size 10px
		color #b19870
		&:after
			content ''
			width 30px
			height 1px
			margin-left 90px
			margin-top -8px
			background-color #b19870
			display block
		
.blockr
	display flex
	justify-content center
	flex-direction column
	position relative
	
	&__right
		right 0px
		bottom 0px
		width 170px
		height 80px
		background-color white
		position absolute
	
	&__block2
		background-image url('images/blog2.png')
		background-size cover
		width 460px
		height 250px
		
		
	&__titleb
		font-size 24px
		font-family 'FuturaPT-Book'
		
	&__titles
		font-family 'FuturaPT-Book'
		font-size 12px