mixin b-service(Services)
  +b('section').service
    section.title-section
      +b-headline({
          label: 'Услуги',
          title: 'Парикхмахерское искусство',
          subtitle: 'Для записи выберите услугу'
      })
    +e.row
      each service in Services
        +e(a).block.accordion-btn
          .arrow
          +e.title=service.title
          //+e.lists.accordion-panel(class='accordion-panel'+index)
          +e.lists.accordion-panel
            each prop in service.serviceProps
              +b('ul').inline-list
                +e('li').item-name=prop.name
                +e('li').item-time=prop.time
                +e('li').item-price=prop.price

