.advantages
	padding-top 145px
	margin-bottom 200px
	background-color mine-shaft
	&-list
		display flex
		margin 0 -40px
		&__item
			flex 1 1 25%
			padding 0 40px
			max-width 25%
			position relative
			top 65px
			