include our-salons/our-salons
include mainfirstblock/mainfirstblock
include oursalons/oursalons
include followinsta/followinsta
include header/header
include button-main/button-main
include button-transparent/button-transparent
include headline/headline
include categories/categories
include category/category
include advantages/advantages
include advantage/advantage
include brands-of-goods/brands-of-goods
include brands-of-goods/brands-of-goods
include feedback-form/feedback-form
include about-evita/about-evita
