
include mainfirstblock/mainfirstblock

//- Здесь подключаем свои блоки pug

//- Например
//- include all-blocks-presentation/all-blocks-presentation
include header/header
include button-main/button-main
include button-transparent/button-transparent
include headline/headline
include categories/categories
include category/category
include brands-of-goods/brands-of-goods
include feedback-form/feedback-form