include our-salons/our-salons
include mainfirstblock/mainfirstblock
include followinsta/followinsta

//- Здесь подключаем свои блоки pug

//- Например
//- include all-blocks-presentation/all-blocks-presentation
include header/header
include button-main/button-main
include button-transparent/button-transparent
include headline/headline
include categories/categories
include category/category
include advantages/advantages
include advantage/advantage
include brands-of-goods/brands-of-goods