include our-salons/our-salons
include mainfirstblock/mainfirstblock
include oursalons/oursalons
include followinsta/followinsta
include blog/blog
//- Здесь подключаем свои блоки pug

//- Например
//- include all-blocks-presentation/all-blocks-presentation

include header/header
include button-main/button-main
include button-transparent/button-transparent
include headline/headline
include categories/categories
include category/category
include brands-of-goods/brands-of-goods
include footer/footer
include service/service
include advantages/advantages
include advantage/advantage
include feedback-form/feedback-form
include about-evita/about-evita
include best-masters/best-masters
