//- Здесь подключаем свои блоки pug

//- Например
include all-blocks-presentation/all-blocks-presentation
include header/header
include headline/headline
include categories/categories
include category/category
