.followinsta
	background-color #f4f4f4 
	@media lg
		padding-bottom 200px
	@media xxl
		padding-bottom 305px

	&__wrapper
		padding-bottom 30px

	&__title
		font-size 24pt
		text-align center
		font-family 'Playfair Display', serif

	&__little-title
		font-family Futura
		text-align center
		text-transform uppercase
		color #767676
		font-size 12px
		margin-top 7px
		letter-spacing 3px

	&__container
		display flex 
		justify-content center
		margin-top 35px
		
	&__item1
		background-image url("images/insta-1.png")
		width 120px
		height 123px
		margin-right 10px
		margin-left 10px
		
	&__item2
		background-image url("images/insta-2.png")
		width 120px
		height 123px
		margin-right 10px
		margin-left 10px
		
	&__item3
		background-image url("images/insta-3.png")
		width 120px
		height 123px
		margin-right 10px
		margin-left 10px
		
	&__item4
		background-image url("images/insta-4.png")
		width 120px
		height 123px
		margin-right 10px
		margin-left 10px
		
	&__item5
		background-image url("images/insta-5.png")
		width 120px
		height 123px
		margin-right 10px
		margin-left 10px
		
	&__item6
		background-image url("images/insta-6.png")
		width 120px
		height 123px
		margin-right 10px
		margin-left 10px
