.followinsta

	&__menu
		margin 0 auto
		font-size 10px
		background-color #f4f4f4 
		width 600px

	&__wrapper
		position relative
		display flex
		flex-direction row
		justify-content center
		padding 15px 0 20px 0

	&__item
		font-family 'FuturaPT-Demi'
		text-transform uppercase
		letter-spacing 1px
		margin-right 20px
		margin-left 20px
		color #a4a4a4

	&__select
		font-family 'FuturaPT-Demi'
		text-transform uppercase
		letter-spacing 1px
		margin-right 20px
		margin-left 20px
		color #000000
		
	&__topinfo
		position relative
		z-index 1
		width 800px
		height 428px
		
	&__main
		position absolute
		background-color white
		right 0
		bottom 0
		width 300px
		height 300px

	&__navi
		position absolute
		background-color white
		left 0
		bottom 0
		width 130px
		height 70px

	&__pic
		top 75px
		background-image url("images/gallery-1.png")
		background-size cover
		width 800px
		height 428px
		margin 0 auto