extends layouts/main


append params
	- pageTitle = "Categories"
	- activeMenuIndex = 1

block content
	.title-section
		+b-headline({
			label: "Категории услуг",
			title: "Категории услуг",
			subtitle: "Мы заботимся о красоте наших клиентов и передаем знания многим желающим"
		})
	+b-categories(categoryItems)
	+b-advantages(advantages)
	+b-brands-of-goods(brandsImages)

	.feedback-form-wrap
		+b-headline({
			label: "Форма обратной связи",
			title: "Остались вопросы?",
			subtitle: "Мы заботимся о красоте наших клиентов и передаем знания",
			titleClasses: "_color-white"
		})

		+b-feedback-form()

	+b-followinsta()
