extends layouts/main


append params
	- pageTitle = "Evita"
	- activeMenuIndex = 0

block content
	//+b-headline("Наши салоны", "Наши салоны", "Мы заботимся о красоте наших клиентов и передаем знания")
	//+b-mainfirstblock()
	+oursalons()

	section.title-section
		+b-headline({
			label: "Специальные предложения",
			title: "Специальные предложения",
			subtitle: "Мы заботимся о красоте наших клиентов и передаем знания многим желающим"
		})
	
	section.title-section
		+b-headline({
			label: "Категории услуг",
			title: "Категории услуг",
			subtitle: "Мы заботимся о красоте наших клиентов и передаем знания многим желающим"
		})
	+b-categories(categoryItems)
	+b-brands-of-goods(brandsImages)

	+b-followinsta()
