/*!Playfair Display 400, 400i, 700, 700i*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&subset=cyrillic');

/*! Futura PT Light 300*/
webfont('FuturaPT-Light', 'FuturaPT-Light', true, 'normal')
/*! Futura PT Book 400*/
webfont('FuturaPT-Book', 'FuturaPT-Book', true, 'normal')
/*! Futura PT Demi 600*/
webfont('FuturaPT-Demi', 'FuturaPT-Demi', true, 'normal')
/*! Futura PT Bold 700*/
webfont('FuturaPT-Bold', 'FuturaPT-Bold', true, 'normal')
/*! Futura PT Heavy 900*/
webfont('FuturaPT-Heavy', 'FuturaPT-Heavy', true, 'normal')


@font-face {
  font-family: 'FuturaPT-book'
  src: url('fonts/FuturaPT-Light.ttf')
}
