html 
body
	color #000
	font-weight 400
	line-height 1.5

.main-tilte
.title
.title-about
	font-family 'Playfair Display', "Times New Roman", Georgia, serif
	font-weight 400
	line-height normal
	font-size 14px

.main-title
	font-family 'Playfair Display', serif
	font-size 52px

.title-about
	color: #b19870
	font-size 15px
	font-style: italic
	
.title
	font-size 45px
	
.subtitle
	font-family 'FuturaPT-Book', Helvetica, Arial, sans-serif
	line-height normal
	width 350px
	margin-top 20px
