html 
body
	color #000
	font-size 21px
	font-weight 400
	line-height 1.5
// make room for fixed header
body
	padding-top 129px
	@media lg
		padding-top 163px
*
	box-sizing border-box
	
.container
	max-width 100%
	margin 0 auto
	@media lg
		max-width 960px
	@media xl
		max-width 1170px
	@media xxl
		max-width 1530px
a 
	&,
	&:active,	
	&:focus,	
	&:hover,	
	&:visited
		text-decoration none
		cursor pointer
		
button
	outline none
	
input
	background-color transparent
	border 0 solid dove-gray
	border-bottom-width 1px
	outline 0
	color dove-gray
	font-size 12px
	font-family futura-heavy
	letter-spacing .7px
	text-transform uppercase
	transition transform .3s
	padding 10px 0 18px
	&:focus
		color white
		
.title-section
	margin-bottom 2em
	
.demonstration-block
	text-align center
	margin 1em 0

.clearfix
	&::after
		content: ''
		clear both
		display table
		overflow hidden