html 
body
	color #000
	font-size 21px
	font-weight 400
	line-height 1.5

.main-tilte
.title
.title-about
	font-family 'Playfair Display', "Times New Roman", Georgia, serif
	font-weight 400
	line-height normal

.main-title
	font-size 72px

.title-about
	color: #b19870
	font-size 22px
	font-style: italic
	
.title
	font-size 65px
	
.subtitle
	font-family 'FuturaPT-Book', Helvetica, Arial, sans-serif
	line-height normal
	
