// Breakpoints
smWidth = 480px
mdWidth = 768px
lgWidth = 1024px
xlWidth = 1200px

// MediaQueries
sm = "only screen and (min-width: " + smWidth + ")"
md = "only screen and (min-width: " + mdWidth + ")"
lg = "only screen and (min-width: " + lgWidth + ")"
xl = "only screen and (min-width: " + xlWidth + ")"
