// Breakpoints
smWidth = 576px
mdWidth = 768px
lgWidth = 992px
xlWidth = 1200px
xxlWidth = 1600px


// MediaQueries
sm = "only screen and (min-width: " + smWidth + ")"
md = "only screen and (min-width: " + mdWidth + ")"
lg = "only screen and (min-width: " + lgWidth + ")"
xl = "only screen and (min-width: " + xlWidth + ")"
xxl = "only screen and (min-width: " + xxlWidth + ")"

// colors
mainColor = sandal
mainColorHover = #997e53

black = #000000
mine-shaft = #222222
mine = #333333
white = #ffffff
mercury = #e6e6e6
gray = #888888
dove-gray = #676767
dusty-gray = #969696
sandal = #b19870
light-gray = #f4f4f4

// fonts
futura-light = 'FuturaPT-Light', Helvetica, Arial, sans-serif
futura = 'FuturaPT-Book', Helvetica, Arial, sans-serif
futura-demi = 'FuturaPT-Demi', Helvetica, Arial, sans-serif
futura-bold = 'FuturaPT-Bold', Helvetica, Arial, sans-serif
futura-heavy = 'FuturaPT-Heavy', Helvetica, Arial, sans-serif
playfair = 'Playfair Display', "Times New Roman", Georgia, serif
