// Breakpoints
smWidth = 576px
mdWidth = 768px
lgWidth = 992px
xlWidth = 1200px
xxlWidth = 1600px


// MediaQueries
sm = "only screen and (min-width: " + smWidth + ")"
md = "only screen and (min-width: " + mdWidth + ")"
lg = "only screen and (min-width: " + lgWidth + ")"
xl = "only screen and (min-width: " + xlWidth + ")"
xxl = "only screen and (min-width: " + xxlWidth + ")"

// colors
mainColor = sandal
mainColorHover = #997e53

black = #000000
mine-shaft = #222222
white = #ffffff
mercury = #e6e6e6
gray = #888888
dove-gray = #676767
sandal = #b19870

// fonts
futura = 'FuturaPT', Helvetica, Arial, sans-serif
playfair = 'Playfair Display', "Times New Roman", Georgia, serif
