extends root

block styles
	link(rel="stylesheet" href=asset("styles.css"))

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
	script(src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" defer)
	
	script(src=asset("main.js"))

block main
	+b-header()
	block content
	

	