extends root

block styles
	link(rel="stylesheet" href=asset("styles.css"))

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src=asset("main.js"))

block main
	block content
	//- h1 hello EVITA!
	+b-mainfirstblock()

	section.title-section
		+b-headline({
			label: "Специальные предложения",
			title: "Специальные предложения",
			subtitle: "Мы заботимся о красоте наших клиентов и передаем знания многим желающим"
		})
	
	section.title-section
		+b-headline({
			label: "Категории услуг",
			title: "Категории услуг",
			subtitle: "Мы заботимся о красоте наших клиентов и передаем знания многим желающим"
		})
	+b-categories(categoryItems)
	+b-brands-of-goods(brandsImages)
	//- +b-footer()

	