extends root


block styles
	link(rel="stylesheet" href=asset("styles.css"))
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src=asset("main.js"))

block main
	block content

	h1 hello EVITA!
	

	//- +b-footer()



