.container-fluid
	.row.justify-content-end
		.col-sm-4.text
			p Studio of beauty
			h2 Дорогой салон красоты в Москве
			p Мы заботимся о красоте наших клиентов и передаем знания многим желающим. Наша цель - нести в мир красоту и радость.
		.col-sm-7.bggrey
			.mainpic
				img.mainpic(src=asset('images/mainPic.jpg'))

			