.mainfirstblock
	.wrapper
		margin-top 50px
		position relative
		min-height 600px
		
	&__text
		max-width 40%
		
			
	&__image
		position absolute
		top 50px
		left calc(50% - 82px)
		z-index -1
		&:before 
			width 100%
			height 100%
			content ''
			position absolute
			top -70px
			background-color #f4f4f4
			z-index -2
			left -115px

	&__pic
		width 100%
		
	&__selected
		background-color #b19870
		color white
		font-size 11px
		font-weight bold
		text-transform uppercase
		padding 20px
		border none
		
	&__def
		color black
		font-size 11px
		font-weight bold
		text-transform uppercase
		padding 20px
		border 1px solid #b19870
		margin-left 20px
	
	&__nextbtn
		margin 120px 0 0 0

	&__next
		position absolute
		font-family 'FuturaPT-book'
		display inline-block
		margin-left 13px
		margin-top 95px
		text-transform uppercase
		transform rotate(-90deg)
		transform-origin 0% 100%
		font-size 12px
		color #d5d5d5
		line-height 0px
		
	&__line
		position absolute
		height 104px
		width 1px
		background-image: url("images/line.png")
		
	&__title-about
		font-family 'Playfair Display', "Times New Roman", Georgia, serif
		font-weight 400
		line-height normal
		color #b19870
		font-size 15px
		font-style: italic

	&__main-title
		font-family 'Playfair Display', "Times New Roman", Georgia, serif
		font-weight normal
		font-size 54px
		line-height 64px

	&__subtitle
		max-width 75%
		font-family 'FuturaPT-book'
		line-height 25px
		margin-top 12px
		margin-bottom 32px